@model ToDo_List_Infrastructure.DTO.TaskDetailsDTO
@{
    ViewData["Title"] ="Zadanie"+ Model.Title;
}
<header>
    <link rel="stylesheet" href="~/css/Task.css" asp-append-version="true" />
</header>
<div class="TaskDetails">
    <div class="DetailsTitleBox">
        <p id="TitleDesc">Tytuł:</p>
        <p id="TitleTxt"> @Model.Title</p>
    </div>
    <div class="DetailsDescBox">
        <p id="TitleDesc">Opis:</p>
        <p id="DecsriptionTxt">@Model.Description</p>  
    </div>
    <p id="DateTxt">Data Zakończenia @Model.EndDate.ToString("d")</p>
    <div id="BtnBox">
        <a asp-controller="Task" asp-action="Done" asp-route-id="@Model.Id"><button id="DoneBtn">Zakończ zadanie</button></a>
        <a asp-controller ="Task" asp-action="Edit" asp-route-id="@Model.Id"><button id="EditBtn">Edytuj zadanie</button></a>
        <a asp-controller="Task" asp-action="Delete" asp-route-id="@Model.Id"><button id="DeleteBtn">Usuń zadanie</button></a>
        <a asp-controller="Task" asp-action="Index" ><button id="DetBackBtn">Powrót</button></a>
    </div>
</div>
